
# /
/*.suo
/*.ncb

# /ManagedOpenSsl/
/ManagedOpenSsl/*.suo
/ManagedOpenSsl/bin
/ManagedOpenSsl/obj
/ManagedOpenSsl/[Bb]in
/ManagedOpenSsl/[Dd]ebug
/ManagedOpenSsl/[Rr]elease
/ManagedOpenSsl/*.user
/ManagedOpenSsl/*.aps
/ManagedOpenSsl/*.eto
/ManagedOpenSsl/ManagedOpenSsl.XML

/cli/obj/
/cli/*.user

/sandbox/obj/
/sandbox/*.user

/test/obj/
/test/*.user

/test/UnitTests/obj/
/test/UnitTests/*.user

bin/Debug/libeay32.dll
bin/Debug/libeay32.pdb
bin/Debug/ssleay32.dll
bin/Debug/ssleay32.pdb

bin/Debug/*.pdb
bin/Debug/*.xml
bin/Debug/*.exe
bin/Debug/*.dll
bin/Debug/*.XML
